node_modules/
dist/
.env
*.sqlite
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal
.DS_Store
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
.netlify
test-results/
playwright-report/
coverage/
logs/
